/* @partial ...Components/_breadcrumb.scss */

/* Breadcrumb
   ========================================================================== */

.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
