/* @partial ...Components/_pager.scss */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}
%pager__item {
  list-style-type: none;
  border-radius: $ui-border-radius;
  color: lighten($pager-color, 100%);
  text-transform: uppercase;
  padding: 4px 8px;
  float: left;
  transition: padding 0.15s ease-in;
}

.pager__item,      /* A list item containing a page number in the list of pages. */
.pager__first,     /* The first page's list item. */
.pager__previous,  /* The previous page's list item. */
.pager__next,      /* The next page's list item. */
.pager__last,      /* The last page's list item. */
.pager__ellipsis {
  /* A concatenation of several list items using an ellipsis. */
  a {
    @extend %pager__item;
    background-color: $pager-color;
    &:hover,
    :active {
      background-color: $pager-color-hover;
      border-radius: $ui-border-radius;
      text-transform: uppercase;
      color: lighten($pager-color, 100%);
      text-decoration: none;
    }
  }
}

.pager__current {
  @extend %pager__item;
  background-color: $disabled-background-color;
  color: $body-font-color;
}

.pager {
  overflow: hidden;
  li {
    float: left;
    margin-right: 2px;
    &.pager__current {
      @extend %pager__item;
      padding: 4px 8px;
    }
  }
}
