/* @partial ...Components/_tabs.scss */

ul.primary-tabs,
ul.secondary-tabs {
  @include micro-clearfix;
  list-style: none;
  margin: $gutter 0 ($gutter/2) 0;
  padding: 0;
  white-space: nowrap;
  li {
    float: left; /* LTR */
    margin: 0 ($gutter/2) ($gutter/2) 0;
  }
  a,
  a:link {
    display: block;
    text-decoration: none;
  }
}

ul.primary-tabs {
  li {
    &.is-active {
      a {
        background-color: $tabs-background-color--active;
        color: $tabs-content-color--active;
        border: 1px solid $tabs-background-color--active;
      }
    }
    a {
      font-size: $tabs-font-size;
      text-transform: uppercase;
      background-color: $tabs-background-color;
      border: 1px solid $tabs-border-color;
      border-top-radius: $tabs-border-radius;
      color: $tabs-content-color;
      padding: 0 1.5rem;
      &:hover {
        text-decoration: none;
        background-color: $tabs-background-color--active;
        border: 1px solid $tabs-background-color--active;
      }
      &.active {
        background-color: $tabs-background-color--active;
        color: $tabs-content-color--active;
        &:hover {
        }
      }
    }
  }
}
