/* @partial ...Components/_tabs.scss */

$tabs-content-color--active: #ffffff;

ul.primary-tabs,
ul.secondary-tabs {
  @include micro-clearfix;
  list-style: none;
  margin: $gutter 0 ($gutter/2) 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0.857em;

  li {
    float: left; /* LTR */
    margin: 0 ($gutter/2) ($gutter/2) 0;
  }

  a,
  a:link {
    display: block;
    text-decoration: none;
  }
}

ul.primary-tabs {
  li {
    &.is-active {
      a {
        background-color: $link-color;
        color: $tabs-content-color--active;
        border: 1px solid $link-color;
      }
    }

    a {
      font-size: 0.915rem;
      text-transform: uppercase;
      background-color: $ui-background-color;
      border: 1px solid $ui-border-color;
      border-top-radius: $ui-border-radius;
      color: $body-font-color;
      padding: 0.5rem 1rem;
      transition-property: backgorund-color;
      transition-duration: $input-transition-duration;
      transition-timing-function: ease-in;

      &:hover {
        text-decoration: none;
        background-color: $link-color;
        border: 1px solid $link-color;
      }

      &.active {
        background-color: $link-color;
        color: $tabs-content-color--active;
        &:hover {
        }
      }
    }
  }
}
