// =============================================================================
// COLOR PALLETE
// =============================================================================


$gray-dark: #292929; // Headings
$gray-darker: #3c3b3b; // Body text
$gray-lighter: #eeeeee; // Disabled background
$gray-light:  #888888; // Disabled font
$blue-gray: #739bc7; // Links & Buttons
$red: #e02443; // Error / delete
$yellow: #dadd25; // Warning
$green: #25db4c; // Success
