


// =============================================================================
// TYPOGRAPHY
// =============================================================================



// Adjust with copy paste of pixel css code from http://www.gridlover.net/app/
$base-font-size: 16px; // The font size set on the root html element & used in rem() mixin calculations
$measure: 760px;

$h1-font-size: 68px;
$h1-line: 24px;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 42px;
$h2-line: 24px;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 26px;
$h3-line: 24px;
$h3-lines: 2;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 16px;
$h4-line: 24px;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

// Variables are rounded to pixels
// It's safe to multiply with integers
// eg. h1 {margin: 2*$h1-line 0;}
// The grid will stay aligned

// **** END GRID LOVER VARIABLES ******


// Recalculating line-heights to remove units
$h1-line-height: ($h1-line * $h1-lines) / $h1-font-size;
$h2-line-height: ($h2-line * $h2-lines) / $h2-font-size;
$h3-line-height: 1.4; // Magic numbers
$h4-line-height: 1.5; // Magic numbers

$base-line-height: $base-font-size * 1.5; // Typically 1.2-1.5 dependant upon size of font characters.
$body-line-height: $base-line-height / $base-font-size;


// Common font stacks
$serif:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$sans-serif:     "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$courier:         monospace, "Courier New", "DejaVu Sans Mono", sans-serif;
$webfont-normal:      'FONTFACENAMEHERE', Arial, Helvetica, sans-serif;
$webfont-bold:        'FONTFACENAMEHERE', Arial, Helvetica, sans-serif;



// =============================================================================
// COLOR PALLETE
// =============================================================================



$gray-dark: #292929; // Headings
$gray-darker: #3c3b3b; // Body text
$gray-lighter: #eeeeee; // Disabled background
$gray-light:  #888888; // Disabled font
$blue-gray: #739bc7; // Links & Buttons
$red: #e02443; // Error / delete
$yellow: #dadd25; // Warning
$green: #25db4c; // Success



// =============================================================================
// GLOBAL VARIABLES
// =============================================================================



// SHARED FORM VARIABLES
$ui-border-color: lighten($blue-gray, 28%);
$ui-background-color: lighten($blue-gray, 32%);
$ui-padding: ($vert-gutter/2) ($horiz-gutter/2);
$ui-border-radius: 2px;

// SHARED STATES
$delete-color: $red; // delete & remove buttons / inputs
$disabled-background-color: $gray-lighter;
$disabled-font-color: $gray-light;



// =============================================================================
// ATOM (element) VARIABLES
// =============================================================================



// TEXT
$header-font: $sans-serif;
$page-title-color: $gray-dark;
$block-title-color: $page-title-color;
$body-font: $sans-serif;
$font-monospace: $courier; // <pre>, <code> tags


// BODY
$body-font-color: $gray-darker;
$body-bgrd-color: #ffffff;


// LINKS
$link-color: $blue-gray;
$link-color-visited: darken($link-color, 10%);
$link-color-hover: darken($link-color, 5%);
$link-color-focus: darken($link-color, 10%);
$link-color-active: darken($link-color, 10%);
$link-text-decoration: none;


// FORM INPUTS, BUTTONS & SUBMITS
$input-padding: 8px 16px;
$input-font-family: inherit;
$input-font-color: $body-font-color;
$input-font-size: 14px;

$input-background-color: #fff;
$input-backgroud-color-focus: #fff;

$input-border-color: $ui-border-color;
$input-border-color-focus: $link-color;
$input-border-radius: $ui-border-radius;

$input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
$input-box-shadow-focus: 0 0 2px $link-color;
$input-transition-duration: .1s;

$input-disabled-background-color: $disabled-background-color;
$input-disabled-font-color: $disabled-font-color;

$inline-field-gutter: .5rem;
$inline-field-gutter: .5rem;

$placeholder-color: #999999;
$placeholder-focus-color: $input-background-color;


// BUTTONS
$button-color: $link-color;
$button-border: #DDDDDD;
$button-border-radius: $ui-border-radius;


// BLOCKQUOTES
$blockquote-border-color: $ui-border-color;

// HORIZONTAL RULE
$horizontal-rule-border: $ui-border-color;



// =============================================================================
// MOLECULE / ORGANISM (module / components) VARIABLES
// =============================================================================



// MESSAGES
$success-border: $green;
$success-background: lighten($success-border, 45%);
$success-text: $success-border;
$warning-border: $yellow;
$warning-background: lighten($warning-border, 45%);
$warning-text: $warning-border;
$error-border: $red;
$error-background: lighten($error-border, 45%);
$error-text: $error-border;


// PAGER
$pager-color: $link-color;
$pager-color-hover: $link-color-hover;


// FIELDSET
$legend-font-weight: bold;


// FORM ITEMS
$form-item-margin: 0 0 $horiz-gutter 0;
$form-item-label-font-weight: bold;
$form-item-label-font-size: 13px;
$form-item-label-margin: 0 0 0 0;
$form-item-description-font-size: 13px;


// TABLES
$table-tbody-border-style: solid;
$table-tbody-border-width: 1px 1px 1px 1px;
$table-tbody-border-color: darken($body-bgrd-color, 2%) transparent transparent transparent;

$table-th-border-style: solid;
$table-th-border-width: 1px 1px 1px 1px;
$table-th-border-color: transparent transparent darken($body-bgrd-color, 2%) transparent;

$table-tr-even-background: lighten($body-bgrd-color, 2%);
$table-tr-even-border-style: solid;
$table-tr-even-border-width: 1px 1px 1px 1px;
$table-tr-even-border-color: darken($body-bgrd-color, 2%) transparent darken($body-bgrd-color, 2%) transparent;

$table-tr-odd-background: transparent;
$table-tr-odd-border-style: solid;
$table-tr-odd-border-width: 1px 1px 1px 1px;
$table-tr-odd-border-color: darken($body-bgrd-color, 2%) transparent transparent transparent;

$table-tr-drag-background: $table-tr-odd-border-color;
$table-td-padding: .25rem .5rem;
$table-td-disabled-background: #ccc;


// DRUPAL EDIT, VERTICAL & HORIZONTAL TABS
$tabs-background-color: $ui-background-color;
$tabs-background-color--active: $link-color;
$tabs-border-color: $ui-border-color;
$tabs-border-color--active: $link-color;
$tabs-content-color: $body-font-color;
$tabs-content-color--active: #ffffff;
$tabs-border-radius: $ui-border-radius;
$tabs-font-size: 1rem;


