/* @partial ...Elements/_fieldsets.scss */

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
  font-weight: $legend-font-weight;
}

fieldset {
  margin: 0;
  padding: 0;
}
