/* @partial ...Elements/_form-elements.scss */

button,
input[type="submit"] {
  @include button--submit($button-color);
}

input[value="Delete"],
input[value="Remove"] {
  @include button--submit($delete-color);
}

// textarea, /* Every input field known to css. work in progress */
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"]
// input[type="text"],
// input[type="email"],
// input[type="password"]

/* Correct height of image inputs like inputs found in Paypal forms */
input[type="image"] {
  height: auto;
}

/* Highlight the form elements that caused a form submission error. */
input.error,
textarea.error,
select.error {
  border: 1px solid $error-border;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Keep form elements constrained in their containers.
 */
button,
input,
select,
textarea {
  font-family: $input-font-family; /* 1 */
  max-width: 100%; /* 2 */
}

textarea,
input {
  background: $input-background-color;
  border: 1px solid $input-border-color;
  box-shadow: $input-box-shadow;
  padding: $input-padding;
  border-radius: $input-border-radius;
  // Avoiding "all" because Drupal Ajax throbber is effected by background-position transitioning
  // & iOS7 has trouble painting elements added via ajax
  transition-property: border, box-shadow, color, background-color;
  transition-duration: $input-transition-duration;
  transition-timing-function: ease-in;
  color: $input-font-color;
  font-size: $input-font-size;
  max-width: 100%; /* fixed overflow of input fields in drupal 6 layouts */
  &:focus,
  &:active {
    border: 1px solid $input-border-color-focus;
    background: $input-backgroud-color-focus;
    outline: none;
  }
}

button {
  padding: $input-padding;
}

// Fix positioning of throbber after adding height to inputs. Original css found in systems.css
html.js input.form-autocomplete {
  background-position: 99% 5px;
}
html.js input.throbbing {
  background-position: 99% -15px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &:focus {
    background-color: $link-color-hover;
  }
}

textarea[disabled],
select[disabled],
input[disabled] {
  background-color: $input-disabled-background-color;
  color: $input-disabled-font-color;
}

/* Input placeholder color
  ========================================================================== */

::-webkit-input-placeholder {
  color: $placeholder-color;
  &:focus {
    color: $placeholder-focus-color;
  }
}

// Make disappear on focus in iOS... This works in Chrome as opposed to the above focus style
:focus::-webkit-input-placeholder {
  color: $placeholder-focus-color;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $placeholder-color;
  &:focus {
    color: $placeholder-focus-color;
  }
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $placeholder-color;
  &:focus {
    color: $placeholder-focus-color;
  }
}

:-ms-input-placeholder {
  color: $placeholder-color;
  &:focus {
    color: $placeholder-focus-color;
  }
}
