/* @partial ...Elements/_tables.scss */

// TABLES
$table-tbody-border-style: solid;
$table-tbody-border-width: 1px 1px 1px 1px;
$table-tbody-border-color: darken($body-bgrd-color, 2%) transparent transparent
  transparent;

$table-th-border-style: solid;
$table-th-border-width: 1px 1px 1px 1px;
$table-th-border-color: transparent transparent darken($body-bgrd-color, 2%)
  transparent;

$table-tr-even-background: lighten($body-bgrd-color, 2%);
$table-tr-even-border-style: solid;
$table-tr-even-border-width: 1px 1px 1px 1px;
$table-tr-even-border-color: darken($body-bgrd-color, 2%) transparent
  darken($body-bgrd-color, 2%) transparent;

$table-tr-odd-background: transparent;
$table-tr-odd-border-style: solid;
$table-tr-odd-border-width: 1px 1px 1px 1px;
$table-tr-odd-border-color: darken($body-bgrd-color, 2%) transparent transparent
  transparent;

$table-tr-drag-background: $table-tr-odd-border-color;
$table-td-padding: 0.25rem 0.5rem;
$table-td-disabled-background: #ccc;

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin: $gutter 0;
}

tbody {
  border-style: $table-tbody-border-style;
  border-width: $table-tbody-border-width;
  border-color: $table-tbody-border-color;
}

th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-style: $table-th-border-style;
  border-width: $table-th-border-width;
  border-color: $table-th-border-color;
}

td {
  padding: $table-td-padding;
}

tr.even {
  background: $table-tr-even-background;
  border-style: $table-tr-even-border-style;
  border-width: $table-tr-even-border-width;
  border-color: $table-tr-even-border-color;
}

tr.odd {
  background: $table-tr-odd-background;
  border-style: $table-tr-odd-border-style;
  border-width: $table-tr-odd-border-width;
  border-color: $table-tr-odd-border-color;
}

tr.drag {
  background: $table-tr-drag-background;
}
